* {
    margin: 0;
    padding: 0;
    border: 0;
    /*background: #F0F0F0;*/
    font-family: 'Anton', sans-serif;
}

body {
    background: #F0F0F0;
}

.top-of-page {
    z-index: -1;
    position: absolute;
    top: 40px;
    background: white;
    height: 75px;
    width: 100%;

}

h1  {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 48px;
    margin: 0;
}

p {
    font-size: 32px;
    font-family: 'Abel', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Anton', sans-serif;
}

.logo-header {
    display: flex;
    justify-content: center;
    border-color: #F0F0F0;
    border: 1em 0;
    margin: 0;
}

.logo {
    width: 105px;
    height: 105px;
    margin: 0;
}

.codeup-design {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.services, .work, .blog, .contact {
    display: inline-block;
    font-family: 'Abel', sans-serif;
}

.hyperlinks {
    display: flex;
    justify-content: space-evenly;
}

.colors {
    border: 0;
}

.icon-red {
    background: #E6563B;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 4px solid white;
    color: white;
}

.icon-red p {
    margin-top: 2em;
    background: #E6563B;
    font-weight: bold;
    border-radius: 100%;
    font-size: 18px;
}

.icon-orange {
    background: #EB9D3A;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 4px solid white;
    color: white;
}

.icon-orange p {
    background: #EB9D3A;
    margin-top: 2em;
    font-weight: bold;
    border-radius: 100%;
    font-size: 18px;
}

.icon-green {
    background: #7CB06C;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 4px solid white;
    color: white;
}

.icon-green p {
    font-size: 18px;
    margin-top: 2em;
    font-weight: bold;
    background: #7CB06C;
    border-radius: 100%;
}

.icon-blue {
    background: #00ABA9;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 4px solid white;
    color: white;
}

.icon-blue p {
    margin-top: 2em;
    font-weight: bold;
    background: #00ABA9;
    border-radius: 100%;
    font-size: 18px;
}

.selected-work {
    display: flex;
    justify-content: center;
}

.the-last-aside {
    display: none;
}


.apple-ipad {
    height: auto;
    max-width: 100%;
    border: 10px solid #E6E6E6;
    border-radius: 5%;
}



.smaller-icon-red{
    font-family: 'Anton', sans-serif;
    color: black;
    font-weight: bold;
    background: #E6563B;
    border-radius: 50%;
    font-size: 14px;
    width: 18px;
    height: 18px;
}

.smaller-icon-orange{
    font-family: 'Anton', sans-serif;
    color: black;
    font-weight: bold;
    background: #EB9D3A;
    border-radius: 100%;
    font-size: 14px;
    width: 18px;
    height: 18px;
}

.smaller-icon-green{
    font-family: 'Anton', sans-serif;
    color: black;
    font-weight: bold;
    background: #7CB06C;
    border-radius: 100%;
    font-size: 14px;
    width: 18px;
    height: 18px;
}

.smaller-icon-blue{
    font-family: 'Anton', sans-serif;
    color: black;
    font-weight: bold;
    background: #00ABA9;
    border-radius: 100%;
    font-size: 14px;
    width: 18px;
    height: 18px;
}

.macbook {
    height: auto;
    max-width: 100%;
    border: 10px solid #E6E6E6;
    border-radius: 5%;
}

.man {
    height: auto;
    max-width: 100%;
    border: 10px solid #E6E6E6;
    border-radius: 5%;
}

.security {
    height: auto;
    max-width: 100%;
    border: 10px solid #E6E6E6;
    border-radius: 5%;
}

hr {
    display: none;
}

.the-last-aside {
    display: none;
}

i {
    width: 30px;
    height: 30px;
    color: #00ACEE

}

.the-last-aside {
    bottom: 43px;
}

.the-last {
    margin:0;
}

/*SMALL*/
@media screen and (min-width: 576px) {
    hr {
        display: none;
        max-width: 100%
    }

    .macbook-card {
        display: inline-block;
    }
    .macbook {
        display: inline;
    }

    p {
        font-size: 15px;
    }

    .navigation {
        position: relative;
        bottom: 155px;
        background-color: rgba(0,0,0,0);
    }

    .work {
        margin-right: 7em;
    }


}

/*MEDIUM*/
@media screen and (min-width: 768px) {
    nav {
        justify-content: start;
    }

    .selected-work {
        justify-content: start;
        display: inline-block;

    }

    .mobile-phone {
        height: auto;
        max-width: 25%;
    }

    .head {
        height: auto;
        max-width: 25%;
    }

    .ipad {
        height: auto;
        max-width: 25%;
    }

    .last-tweet {
        font-weight: bold;
    }

    .last-tweet-list {
        max-width: 100%;
    }

    .the-last {
       display: inline-block;
    }

    .navigation {
        position: absolute;
        top: 45px;
        right: 0;
        background-color: rgba(0,0,0,0);
    }

    .services, .work, .blog, .contact {
        margin: 0 1em;
    }

    .logo-header {
        position: absolute;
        top: 0;
        left: 20px;
        background-color: rgba(0,0,0,0);
    }

    .codeup-design {
        position: absolute;
        top: 40px;
        left: 130px;
    }

    .visual-design {
        margin-top: 3em;
    }
}

/*LARGE AND EXTRA LARGE*/
@media screen and (min-width: 992px) {
    body {
        max-width: 992px;
        margin: auto;
/*        float: none !important;
        width: 992px;
        margin: 0 auto !important;
        position: fixed;*/
    }

    .navigation {
        max-width: 992px;
        margin: auto;
    }

}
