* {
    margin: 0;
    padding: 0;
    border: 0;
    background: #E6E6E6
    font-family: 'Anton', sans-serif;
}

h1  {
    font-size: 64px;
    margin: 0;
}

h2 {
    font-size: 48px;
    margin: 0;
}

p {
    font-size: 32px;
    font-family: 'Abel', sans-serif;
}

h1, h2{
    font-family: 'Anton', sans-serif;
}

img {
    width: 105px;
    height: 105px;
}

.colors {
    border: 0;
}

.icon-red {
    background: #E6563B;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 4px solid white;
    color: white;
}

.icon-red p {
    margin-top: 2em;
    background: #E6563B;
    font-weight: bold;
    border-radius: 100%;
    font-size: 18px;
}

.icon-orange {
    background: #EB9D3A;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 4px solid white;
    color: white;
}

.icon-orange p {
    background: #EB9D3A;
    margin-top: 2em;
    font-weight: bold;
    border-radius: 100%;
    font-size: 18px;
}

.icon-green {
    background: #7CB06C;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 4px solid white;
    color: white;
}

.icon-green p {
    font-size: 18px;
    margin-top: 2em;
    font-weight: bold;
    background: #7CB06C;
    border-radius: 100%;
}

.icon-blue {
    background: #00ABA9;
    width: 105px;
    height: 105px;
    border-radius: 100%;
    border: 4px solid white;
    color: white;
}

.icon-blue p {
    margin-top: 2em;
    font-weight: bold;
    background: #00ABA9;
    border-radius: 100%;
    font-size: 18px;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}